.card {
    width: 90%;
    border: 5px solid black;
    margin-bottom: 5vh;
    border-radius: 5px;
}

.detail-link {
    text-decoration: none;
}

.card-title {
    color: black;
}

.card-image {
    width: 80%;
    margin-top: 5px;
    border-radius: 5px;
}

